body{
    background-color: bisque;
}

div{
    background-color: blue;
    border-color: aqua;
    border-width: 4px;
    border-style: double;
}

p{
    color: yellow;
}

span{
    background-color: red;
    color: black;
}

